{% extends "base.html" %}

{% block title %} | Load Game{% endblock %}

{% block content_title %} Load Game {% endblock %}

{% block content %}
    <form class="form-inline" name="instructor_upload_file" action="#" method="POST"
          enctype=multipart/form-data class="form-horizontal no-bottom-margin"
          onsubmit="return submitFileForm();">
        <h3 style="margin-top: 15px; margin-bottom: 25px;">upload a previously exported game json:</h3>
        
        <div class="form-group">
            <input type="text" class="form-control" id="filename">
            <button type="button" class="btn btn-primary" onclick="fileUploadClick()">Select File</button>
        </div>
        <br><br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Load</button>
            <span id="error" class="control-label"></span>
        </div>
        <input type="file" name="game_json" class="hidden_upload" id="game_json"
               onchange="fillFilename()"
               style="visibility: hidden; height: 1px; margin: 0px;">
        <script>
            function submitFileForm() {
                var MAX_SIZE = 10 * 1024 * 1024;
                var errorField = document.getElementById('error');
                var fileUpload = document.getElementById('game_json');
                if (!fileUpload.files.length) {
                    errorField.innerHTML = "Forget file";
                    return false;
                }
                if (window.FileReader) {
                    var file = fileUpload.files[0];
                    if (file.name.split('.').pop().toLowerCase() != 'json') {
                        errorField.innerHTML = "You should upload a game json.";
                        return false;
                    }
                    if (file.size > MAX_SIZE) {
                        errorField.innerHTML = "Max file size - 10Mb";
                        return false;
                    }
                    else if (!file.size) {
                        errorField.innerHTML = "Empty file";
                        return false;
                    }
                }
                var form = document.forms['instructor_upload_file'];
                form.action = '/load-game';
                form.submit()
                return true;
            }
            function fileUploadClick() {
                var fileUpload = document.getElementById('game_json');
                fileUpload.click();
            }
            function fillFilename() {
                var inputFilename = document.getElementById('filename');
                var fileUpload = document.getElementById('game_json');
                var filePath = fileUpload.value;
                if (filePath.match(/fakepath/)) {
                    filePath = filePath.replace(/C:\\fakepath\\/i, '');
                }
                inputFilename.value = filePath;
            }
        </script>
    </form>

{% endblock %}